body {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
    font-family: "Inter";
    background: var(--site-primary);
    color: var(--site-on-primary);
}

h1 {
    font-size: 5rem;
    font-weight: 500;
}

h2 {
    font-weight: 400;
}

a,
a:visited {
    color: var(--site-on-primary);
}

.error-content {
    display: grid;
    text-align: center;
    place-self: center;
}

.error-content > * + * {
    margin-top: 1rem;
}

footer {
    min-height: 10vh;
    text-align: center;
}
