# Shared infrastructure (only change if using a different ECS cluster)
REGION="ap-southeast-2"
CLUSTER="ecs-katalyst"
BACKUPS="ecs-katalyst-database-backups"

# Default environment
ENVIRONMENT="staging"

# Application configuration
SERVICE="<%= app_name %>"
DATABASE="<%= app_name %>"
