# Shared infrastructure (only change if using a different ECS cluster)
REGION="ap-southeast-2"
CLUSTER="ecs-katalyst"
BACKUPS="ecs-katalyst-database-backups"

# AWS role to assume for admin tasks (devops role)
export AWS_PROFILE="katalyst"
export AWS_DEFAULT_REGION="$REGION"

# Default environment
ENVIRONMENT="staging"

# Application configuration
SERVICE="<%= app_name %>"
DATABASE="<%= app_name %>"
