test:
  service: Disk
  root: <%%= Rails.root.join("tmp/storage") %>

local:
  service: Disk
  root: <%%= Rails.root.join("storage") %>

s3:
  service: S3
  region: ap-southeast-2
  bucket: <%%= ENV.fetch("RAILS_ASSETS_BUCKET_ID", "<%= ecs_name %>-web-assets") %>
